@import "variables.scss";

* {
    -webkit-print-color-adjust: exact;
    -webkit-transition: none !important;
    transition: none !important;
}

a[href]:after {
    display: none;
}

.print {
    display: block !important;
}

.header {
    background: black !important;

    * {
        color: white !important;
    }
}

h2 {
    font-size: 30px !important;
}

p {
    font-size: 20px !important;
}

ul {
    font-size: 20px !important;
}

#experience {
    > ul {
        > li {
            font-size: 20px !important;

            > ul {
                font-size: 16px !important;
            }
        }
    }
}

#projects {
    > ul {
        > li {
            font-size: 20px !important;

            > ul {
                font-size: 18px !important;
            }
        }
    }
}

hr:last-of-type {
    margin-bottom: 3em;
}