<!-- Education partial -->
<h2>Education</h2>
<ul>
    <li>
        <div class="institution">California University of Pennsylvania</div>
        <div class="subject">Cybersecurity</div>
        <div class="time">Professional Science Masters 2020</div>
    </li>
    <li>
        <div class="institution">California University of Pennsylvania</div>
        <div class="subject">Law, Justice and Society</div>
        <div class="time">Bachelors 2014</div>
    </li>
    <li>
        <div class="institution">WCCC</div>
        <div class="subject">Criminal Justice</div>
        <div class="time">Associates 2011</div>
    </li>
</ul>