<!-- Experience partial -->
<h2>Experience</h2>
<ul>
    <li>
        <div class="role">Full Stack Developer</div>
        <div class="company">National Education Partners</div>
        <div class="date italic">August 2019 to present</div>
        <ul>
            <li class="project">Developing features for Drupal 8 social media web application</li>
            <li class="project">Maintaining and updating Drupal 8 hosting environment</li>
        </ul>
    </li>
    <li style="page-break-before: always;">
        <div class="role">Software Developer Specialist</div>
        <div class="company">Maricopa County Community Colleges, ITS</div>
        <div class="date italic">August 2017 to August 2019</div>
        <ul>
            <li class="project">Worked on multiple enterprise level Drupal 8 projects</li>
            <li class="project">Led documentation initiative to support content owners during transitions</li>
            <li class="project">Assisted with the design of custom themes in accordance with WCAG 2.1</li>
        </ul>
    </li>
    <li>
        <div class="role">Web Developer Contractor</div>
        <div class="company">Nukenin Consulting</div>
        <div class="date italic">November 2018 to August 2019</div>
        <ul>
            <li class="project">Built, deployed, and maintained multiple HTML websites.</li>
            <li class="project">Customized Shopify theme to meet design requirements.</li>
            <li class="project">Assisted with developing with business model for web consulting work.</li>
        </ul>
    </li>
    <li>
        <div class="role">Technology Support Assistant</div>
        <div class="company">Arizona State University, SILC LSS</div>
        <div class="date italic">September 2016 to July 2017</div>
        <ul>
            <li class="project">Cataloged, tested, and managed surplus of AV equipment, computers, and physical media</li>
            <li class="project">Developed and documented testing and processing protocol for technical devices</li>
            <li class="project">Updated documentation and assisted with the training of new employees</li>
            <li class="project">Troubleshot basic technical issues for internal students and instructors</li>
        </ul>
    </li>
    <li>
        <div class="role">Programmer / Game Designer</div>
        <div class="company">Rogue Robot Studios</div>
        <div class="date italic">May 2016 to December 2016</div>
        <ul>
            <li class="project">Developed documentation system</li>
            <li class="project">Programmed the mechanics and gameplay of multiple games</li>
            <li class="project">Assisted with web page creation and content management for the web design team</li>
            <li class="project">Coordinated and led weekly team meetings for the web design team</li>
        </ul>
    </li>
</ul>