<!-- Experience partial -->
<h2>Experience</h2>
<ul>
    <li>
        <div class="role">Technical Support Engineer</div>
        <div class="company">Ipro Tech LLC</div>
        <div class="date italic">February 2021 to present</div>
        <ul>
            <li class="project">Supporting eDiscovery solutions, real-time troubleshooting complex software systems, processing and resolving tickets to meet customer needs and SLAs</li>
        </ul>
    </li>
    <li>
        <div style="page-break-before: always;" class="role">Technical Support Expert</div>
        <div class="company">Asurion</div>
        <div class="date italic">August 2020 to December 2020</div>
        <ul>
            <li class="project">Troubleshooting solutions related to hardware, software operating systems, applications and compatibility, as well as remotely support multiple technology devices across Windows, Android, Blackberry OS, and Apple iOS.</li>
        </ul>
    </li>
    <li>
        <div class="role">Oasis Behavioral Health</div>
        <div class="company">Behavioral Health Tech</div>
        <div class="date italic">March 2019 to December 2020</div>
        <ul>
            <li class="project">Oversee patient day to day behaviors, log patient activities, lead focus groups, use appropriate crisis intervention techniques when necessary, search patients and belongings for contraband, establish rapport with patients, take vitals, work with nursing staff to ensure that the patient is on a safe and appropriate treatment plan.</li>
        </ul>
    </li>
    <li>
        <div class="role">Security Officer, Systems Officer, Entrance Control</div>
        <div class="company">Rivers Casino</div>
        <div class="date italic">November 2016 to January 2019</div>
        <ul>
            <li class="project">Enforce Pennsylvania Gaming Control Board rules and regulations, respond to incidents, control access to restricted areas, log daily events, report writing, dispatch officers on details, control camera systems off the gaming floor, answer phone calls, monitor alarms, customer service, identify guests by verifying their ID is valid, authentic and is the person presenting the ID.</li>
        </ul>
    </li>
</ul>