<!-- Projects partial -->
<h2>Projects</h2>
<ul>
    <li>Student Portal Application<br/>
        <a href="https://myinfo.maricopa.edu">https://myinfo.maricopa.edu</a>
        <ul>
            <li>Screenshots and more information are available in the <a href="https://my.maricopa.edu/sites/g/files/vmcrws426/files/pdf/myinfo/myinfo_help_guide_2019.pdf">MyInfo Student User Guide</a>.</li>
            <li>Presents class schedules, book information, grades, and financial aid data to students in a mobile-friendly web application.</li>
            <li>Drupal 8, Bootstrap, PHP, Twig, and SASS</li>
        </ul>
    </li>
    <li style="page-break-before: always;">Redirect Engine<br/>
        <a href="https://redirect.maricopa.edu">https://redirect.maricopa.edu</a>
        <ul>
            <li>Redeveloped in Drupal 8 from Drupal 7.</li>
            <li>Routes and re-routes traffic based on system status.</li>
            <li>Differentiates between internal and external traffic. Managed using Drupal views and custom actions.</li>
            <li>Drupal 8, Drupal Views, PHP</li>
        </ul>
    </li>
    <li>Content Migration<br/>
        <a href="https://district.maricopa.edu/board-operations">https://district.maricopa.edu/board-operations</a>
        <ul>
            <li>Drupal 7 to Drupal 8 content migration.</li>
            <li>Content types to store minutes, motions, agendas, and meeting details for governing board meetings. Front-end display managed seamlessly through views.</li>
            <li>Drupal 8, Drupal Views, PHP, Migrate API</li>
        </ul>
    </li>
    <li>Resume Website<br/>
        <a href="https://isaiahnixon.com">https://isaiahnixon.com</a>
        <ul>
            <li>Mobile-responsive website that highlights my experience and prints neatly into a PDF.</li>
            <li>HTML5 Boilerplate, Bootstrap 4, SASS, AWS Elastic Beanstalk, AWS Certificate Manager, Google Analytics, AWS Route 64</li>
        </ul>
    </li>
    <li>Tic-Tac-Toe<br/>
        <a href="https://isaiahnixon.github.io/tic-tac-toe">https://isaiahnixon.github.io/tic-tac-toe</a>
        <ul>
            <li>React application hosted on GitHub.</li>
            <li>Converted "Intro to React" to the Hooks API, including a custom hook for history on a reducer.</li>
            <li>React JS, React Hooks, CSS, GitHub, GitHub Pages</li>
        </ul>
    </li>
</ul>